// Primary Colors
$paleBlue: hsl(225, 100%, 94%);
$brightBlue: hsl(245, 75%, 52%);

// Neutral Colors
$paleBluePlus: hsl(225, 100%, 98%);
$darkBlue: hsl(223, 47%, 23%);
$desaturatedBlue: hsl(224, 23%, 55%);

// Root (HTML Tag) Font Size
$root-font-size: 16px;
$font-family: 'Red Hat Display', sans-serif;